<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(content='width=device-width, initial-scale=1.0' name='viewport')
	link(rel="stylesheet", href="css/main.min.css")
	title Document
body
	
	.wrapper
		include sections/header
		include sections/main
		include sections/service
		include sections/nurse
		include sections/form
		include sections/map
		include sections/footer

	script(src="js/jquery.min.js")
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="js/owl.carousel.min.js")
	script(src="js/main.min.js")