.footer {
	background: $main-black;
	height: 150px;

	&__container {
		display: flex;
		flex-direction: row;
		width: 100%;
		
		@media (min-width: 1441px) {
			width: 1200px;
			margin: 0 auto;
			justify-content: space-between
		}
	}

	&__logo {
		position: relative;
		width: 24%;

		@media (min-width: 1441px) {
			padding: 38px 0;
			width: auto;
		}
	}

	&__img {
		background: $main-white;
		padding: 16px 14px;
		border-radius: 3px;
		position: absolute;
		top: 35%;
		right: 15%;

		@media (min-width: 1441px) {
			position: static;
		}
	}
	
	&__nav {
		display: flex;
		flex-direction: column;
		width: 52%;

		@media (min-width: 1441px) {
			width: 723px;
		}
	}
	
	.nav {
		background: $main-black;
		padding: 37px 13px 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: none;

		&__item {
			padding: 0;
		}

		&__link {
			letter-spacing: 0.05em;
		}

		@media (min-width: 1441px) {
			padding: 37px 0 0;
			width: 723px;
		}
	}

	&__icons {
		padding: 18px 0 0;
		text-align: center;
	}

	&__social {
		padding: 0 20px;
	}

	&__yakstar {
		width: 24%;
		position: relative;

		@media (min-width: 1441px) {
			padding: 37px 0;
			width: auto;
		}
	}

	.logo {
		background: #fff;
		padding: 16px 8px;
		border-radius: 3px;
		position: absolute;
		top: 34%;
		left: 15%;

		@media (min-width: 1441px) {
			position: static;
		}
	}
}