.header {
	background: #fff;
	z-index: 100;
	position: fixed;
	width: 100%;

	// @media(max-width: 992px) {
	// 	position: relative;
	// }
	
	&__container {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 22%;
		text-align: right;
		display: inline-block;

		// @media(max-width: 992px) {
		// 	display: none;
		// }

		.logo {
			display: inline-block;
			vertical-align: top;
			margin: 17px 26px;
			height: 36px;
			width: 147px;
		}
	}
}