.header {
	background: #81d4f4;

	&__menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		@media (max-width: 992px) {
			position: fixed;
			display: block;
			height: 50px;
			width: 100%;
			background: rgba(#000, 0.8);
			transition: all 0.5s ease-out, background 1s ease-out;
			transition-delay: .2s;
			z-index: 1;
		}
	}

	&__logo {
		// background: #fff;
		padding: 15px 10px;

		@media (max-width: 991px) {
			display: none;
		}

		.logo {
			display: inline-block;
			vertical-align: top;
			padding: 15px 25px;
			height: 58px;
		}
	}
}