.main {
	// @media (max-width: 991px) {
	// 	padding-top: 70px;
	// }

	// @media (max-width: 767px) {
	// 	padding-top: 50px;
	// }
	
	&__content {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		padding: 0 120px;
		color: $main-black;

		@media (min-width: 1441px) {
			padding-left: 15%;
		}

		@media (max-width: 767px) {
			padding: 0 100px;
		}

		@media (max-width: 540px) {
			padding: 0 60px;
		}

		@media (max-width: 480px) {
			padding: 0 45px;
		}

		h1 {
			font-size: 2.3em;
			font-family: $ff-main-bold;
			text-transform: uppercase;
			line-height: 43px;
			letter-spacing: -0.035rem;
			padding-top: 10px;
			margin: 0.5em 0;

			@media (max-width: 991px) {
				font-size: 1.8em;
				line-height: 35px;
			}

			@media (max-width: 767px) {
				font-size: 1.6em;
				line-height: 30px;
				margin-top: 0;
			}

			@media (max-width: 640px) {
				font-size: 1.2em;
				line-height: 25px;
			}

			@media (max-width: 540px) {
				font-size: 1em;
				line-height: 20px;
			}
		}

		p {
			font-size: 20px;
			line-height: 1.5rem;
			margin: 20px 0;

			@media (max-width: 991px) {
				font-size: 17px;
				line-height: 1.35rem;
			}

			@media (max-width: 767px) {
				font-size: 15px;
				line-height: 1.2rem;
			}

			@media (max-width: 640px) {
				font-size: 12px;
			}

			@media (max-width: 540px) {
				margin: 10px 0;
			}

			@media (max-width: 480px) {
				line-height: 1rem;
			}
		}

		.button {
			padding: 13px 33px;

			@media (max-width: 991px) {
				font-size: 15px;
			}

			@media (max-width: 640px) {
				font-size: 14px;
				padding: 8px 20px;
			}
		}
	}
}