.map {
	margin-top: 40px;
	margin-bottom: 42px;

	.title__header {
		h2 {
			font-size: 19px;
			letter-spacing: 0.04em;
		}
	}

	&__container {
		max-width: 1200px;
		margin: 0 auto 36px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 15px;

		@media only screen and (max-width: 947px) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
		}
	}

	&__items {
		display: flex;
		align-items: flex-start;

		@media only screen and (max-width: 1239px) {
			padding: 0 100px 20px;
		}

		@media only screen and (max-width: 1147px) {
			padding: 0 50px 20px;
		}

		@media only screen and (max-width: 947px) {
			padding: 20px 10px;
		}
	}

	&__icon-20:before {
		content: '20';
	}

	&__icon-6:before {
		content: '6';
	}

	&__icon-2:before {
		content: '2';
	}

	&__icon {
		width: 40px;
		height: 40px;
		border: 3px solid $main-blue;
		border-radius: 50%;
		font-family: $ff-main-bold;
		font-size: 17px;
		letter-spacing: 0.05em;
		margin-top: 6px;
		position: relative;

		@media only screen and (max-width: 380px) {
			border: none;
			font-size: 14px;
		}

		&:before {
			display: block;
			border: 3px solid $main-black;
			border-radius: 50%;
			width: 34px;
			height: 34px;
			text-align: center;
			line-height: 28px;
			position: absolute;
			top: 0;
			left: 0;
			@media only screen and (max-width: 380px) {
				border-color: $main-blue;
				width: 35px;
				height: 35px;
				line-height: 30px;
			}
		}
	}

	&__text {
		padding: 0 14px;
		display: inline-block;
		position: relative;

		p:first-child {
			letter-spacing: 0.01em;
		}

		p {
			font-size: 1.08rem;
			line-height: 1.3;
			letter-spacing: 0.015em;

			@media only screen and (max-width: 480px) {
				font-size: 12px;
			}
		}

		span {
			font-family: $ff-main-bold;
			letter-spacing: 0.025em;
		}
	}
	
	&__content {
		margin: 0 auto;
		width: 100%;
	}

	#map {
		height: 400px;
		max-height: 400px;
		max-width: 1200px;
	}
}