.nav {
	background: #81d4f4;
	border-radius: 0 0 0 3px;
	display: inline-block;
	vertical-align: top;
	padding: 7px 0;
	margin: 0;
	width: 78%;
	text-align: center;

	@media (max-width: 1147px) {
		background: transparent;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		z-index: 15;
		height: auto;
		padding: 0;

		&:not(.open) {
			width: 100%;
			display: none;
		}
	}

	&__item {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		padding: 17px 24.85px;
		transition: .3s;

		&:last-child {
			padding: 17px 6px;
		}

		@media (max-width: 1147px) {
			&:first-child {
				padding-top: 80px;
			}

			display: block;
			padding: 15px 0;

			&:not(.open) {
				animation-duration: .4s;
				animation-fill-mode: both;
				animation-name: slideOutRight;
			}

			&.open {
				visibility: visible;

				li {
					animation-duration: .4s;
					animation-fill-mode: both;
					animation-name: slideInLeft;
				}
			}
		}
	}

	&__link {
		color: $main-white;
		font-family: $ff-main;
		font-size: 17px;
		letter-spacing: 0.03em;
		transition: .3s;
		text-transform: uppercase;

		&:hover {
			color: #515151;
		}

		@media (max-width: 1147px) {
			background: transparent;
			z-index: 1000;

			&:not(.open) {
				visibility: visible;
			}
		}
	}

	.sign-up {
		border: 2px solid #fff;
		border-radius: 6px;
		padding: 7px 13px;
		letter-spacing: 0.05em;

		&:hover {
			background: #fff;
			color: #81d4f4;
		}
	}
}