.header__block {
	width: 78%;
	
	@media only screen and (min-width: 1600px) {
		width: 88%;
	}

	@media only screen and (max-width: 1147px) {
		width: initial;
		display: inline-block;
	}

	&-active {
		width: 100%;
	}
}

.nav {
	background: #81d4f4;
	border-radius: 0 0 0 3px;
	display: inline-block;
	vertical-align: top;
	padding: 7px 0;
	margin: 0;
	width: 100%;
	text-align: center;

	@media only screen and (max-width: 1147px) {
		padding: 0;
		display: none;
		width: initial;
	}

	&__active {
		display: inline-block;
		width: 100%;
		padding: 51px 0;
	}

	&__item {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		padding: 17px 24.85px;
		transition: .3s;

		&:last-child {
			padding: 17px 6px;
		}

		@media only screen and (max-width: 1147px) {
			display: block;
		}
	}

	&__link {
		color: $main-white;
		font-family: $ff-main;
		font-size: 17px;
		letter-spacing: 0.03em;
		transition: .3s;
		text-transform: uppercase;

		&:hover {
			color: #515151;
		}
	}

	.sign-up {
		border: 2px solid #fff;
		border-radius: 6px;
		padding: 7px 13px;
		letter-spacing: 0.05em;

		&:hover {
			background: #fff;
			color: #81d4f4;
		}
	}
}