.nurse {

	.container {
		max-width: 1200px;
	}

	&__text {
		background: #fff url(../img/bg-content-1.png) no-repeat 98% 93%;
		padding: 99px 55px;

		h2 {
			font-size: 19px;
			font-family: $ff-main-bold;
			text-transform: uppercase;
			letter-spacing: 0.038em;

			@media (max-width: 527px) {
				font-size: 15px;
			}
		}

		.nurse__desc {
			margin-top: 29px;
			font-size: 17px;
			letter-spacing: 0.033em;
			line-height: 1.53;

			@media (max-width: 527px) {
				font-size: 14px;
			}

			@media (max-width: 378px) {
				font-size: 12px;
			}
		}

		.author {
			margin-top: 31px;
			font-family: $ff-main-bold;
			font-size: 18px;
			letter-spacing: 0.01em;

			@media (max-width: 527px) {
				font-size: 15px;
			}
		}

		.profession {
			font-size: 14px;
		}

		@media (max-width: 991px) {
			background-image: none;
		}

		@media (max-width: 599px) {
			padding: 60px 20px;
		}

		@media (max-width: 408px) {
			padding: 60px 5px;
		}
	}
}