a {
	text-decoration: none;
}

.arrow {
	@media only screen and (max-width: 767px) {
		height: 30px;
	}
	
	@media only screen and (max-width: 540px) {
		height: 25px;
	}
}

.arrow-right {
	transform: rotate(180deg);
}