.burger {
  
  @media only screen and (max-width: 1147px) {
    display: inline-block;
    padding-right: 9px;
  }

  &__active {
    position: absolute;
    top: 7px;
    right: 0;
  }

  &__icon {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;

    @media only screen and (min-width: 1148px) {
      display: none;
    }

    @media only screen and (max-width: 767px) {
      height: 40px;
      width: 40px;
    }
  }

  &__btn,
  &__btn::before,
  &__btn::after {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #222;
    margin-top: -1px;
    display: block;
    transition: .2s;

    @media only screen and (max-width: 767px) {
      width: 17px;
      height: 2px;
    }
  }

  &__btn {
    left: 50%;
    transform: translateX(-50%);

    &::before,
    &::after {
      content: '';
    }
  }

  &__btn::before {
    transform: translateY(-5px);
  }

  &__btn::after {
    transform: translateY(5px);
  }

  &__icon-active span:before {
    transform: rotate(-35deg);
    transform-origin: left bottom;
    width: 10px;
  }

  &__icon-active span:after {
    transform: rotate(35deg);
    transform-origin: left top;
    width: 10px;
  }
}