.button {
	display: inline-block;
	vertical-align: top;
	padding: 13px 48px;
	border-radius: 3px;
	cursor: pointer;
	color: $main-white;
	font-family: $ff-main-bold;
	letter-spacing: 0.03em;
	font-size: 19px;

	&__blue {
		background: #81d4f4;
		transition: .3s;

		&:hover {
			background: lighten(#81d4f4, 7%);
		}
	}

	&__text-uppercase {
		text-transform: uppercase;
	}
}