@font-face {
	font-family: 'Roboto Regular';
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Light';
	src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
};

@font-face {
	font-family: 'Roboto Bold';
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

 @font-face {
 	font-family: 'Cera Round Pro';
	src: url("../fonts/Cera_Round_Pro/CeraRoundPro-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera Round Pro Bold';
	src: url("../fonts/Cera_Round_Pro/CeraRoundPro-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}