footer.footer
	.footer__container
		.footer__logo
			img(src="img/logo.png" class="footer__img" alt="logotype")
		
		.footer__nav
			ul.bottom__nav
				li.bottom__nav-item
					a.bottom__nav-link(href="№") Главная
				li.bottom__nav-item
					a.bottom__nav-link(href="№") О нас
				li.bottom__nav-item
					a.bottom__nav-link(href="№") Сервисы
				li.bottom__nav-item
					a.bottom__nav-link(href="№") Цены
				li.bottom__nav-item
					a.bottom__nav-link(href="№") Блог
				li.bottom__nav-item
					a.bottom__nav-link(href="#") Контакты

			.footer__icons
				a.footer__social(href="#" target="_blank"): img(src="img/footer-icons/footer-icon-1.png")
				a.footer__social(href="#" target="_blank"): img(src="img/footer-icons/footer-icon-2.png")
				a.footer__social(href="#" target="_blank"): img(src="img/footer-icons/footer-icon-3.png")
				a.footer__social(href="#" target="_blank"): img(src="img/footer-icons/footer-icon-4.png")
				a.footer__social(href="#" target="_blank"): img(src="img/footer-icons/footer-icon-5.png")

		.footer__yakstar
			img(src="img/footer-icons/footer_logo.png" class="logo" alt="logotype")