section.form
	.container
		.row
			.col-6
				.form__left
					.title__header.title--with-bottom-line
						h2 Время работы
					ul.form__week
						li.form__day: p Понедельник | 9:00-21:00
						li.form__day: p Вторник | 9:00-21:00
						li.form__day: p Среда | 9:00-21:00
						li.form__day: p Четверг | 9:00-21:00
						li.form__day: p Пятница | 9:00-21:00
						li.form__day: p Суббота | 11:00-19:00
						li.form__day: p Воскресенье | Выходной

			.col-6
				.form__right
					h2.title__header Запись к врачу
					.form__div
						form(class="form__table" action="" method="")
							p: input(class="form__items" type="text" placeholder="Имя")
							p: input(class="form__items" type="text" placeholder="Фамилия")
							p: input(class="form__items" type="text" placeholder="Отчество")
							p: input(class="form__items" type="text" placeholder="Номер телефона")
							p: input(class="form__items" type="text" placeholder="Email")
							.form__button: input(class="form__submit" type="submit" value="Записаться на приём")