section.main
	.owl-carousel.owl-theme
		.main__carousel
			img(src="img/main.png")
			.main__content
				h1 Помогите клинике<br> найти новые таланты
				p Мы принимаем заявки на колонизацию<br> марса. Сообщение появляется прямо<br> в пользовательской ленте
				a.button.button__blue(href="#") + Узнать больше

		.main__carousel
			img(src="img/main.png")
			.main__content
				h1 Помогите клинике<br> найти новые таланты
				p Мы принимаем заявки на колонизацию<br> марса. Сообщение появляется прямо<br> в пользовательской ленте
				a.button.button__blue(href="#") + Узнать больше

		.main__carousel
			img(src="img/main.png")
			.main__content
				h1 Помогите клинике<br> найти новые таланты
				p Мы принимаем заявки на колонизацию<br> марса. Сообщение появляется прямо<br> в пользовательской ленте
				a.button.button__blue(href="#") + Узнать больше