section.map
	.title
		.title__header.title--with-bottom-line: h2 Местоположение

	.map__container
		.map__text
			p Адрес:<span> г. Якутск, ул. Хабарова, 20
			p Номер телефона:<span> 8-800-555-35-34
			p Время работы:<span> 9:00-21:00
			p Выходные:<span> суббота, воскресенье
			.map__number asdf

		.map__text
			p Адрес:<span> г. Якутск, ул. Чиряева, 6
			p Номер телефона:<span> 8-800-555-35-35
			p Время работы:<span> 9:00-21:00
			p Выходные:<span> суббота, воскресенье
			.map__number asdf

		.map__text
			p Адрес:<span> г. Якутск, ул. Дзержинского, 2
			p Номер телефона:<span> 8-800-555-35-36
			p Время работы:<span> 9:00-21:00
			p Выходные:<span> суббота, воскресенье
			.map__number asdf

	.map__content#map