section.nurse
	.container
		.row
			.col-12
				.nurse__text
					h2 Do not go gentle into that good night
					p.nurse__desc Не уходи смиренно, в сумрак вечной тьмы,<br> Пусть тлеет бесконечность в яростном закате.<br> Пылает гнев на то, как гаснет смертный мир,<br> Пусть мудрецы твердят, что прав лишь тьмы покой.<br> И не разжечь уж тлеющий костер.<br> Не уходи смиренно в сумрак вечной тьмы,<br> Пылает гнев на то, как гаснет смертный мир

					p.author Дилан Томас
					p.profession писатель