section.service
	.title
		.title__header.title--with-bottom-line: h2 Добро пожаловать на наш официальный сайт<br> мы заботимся о вас с 2042
		.title__text: p В ленте Фейсбука начало появляться предложение проверить<br> настройки безопасности и передачи данных сторонним приложениям
		a.service__button.button__blue(href="#") Читать

	.container
		.row
			.col-lg-6.col-md-8.col-sm-12.service__content
				.service__title
					h2 Первая консультация<br> бесплатна
					p Будьте уверены в нашей<br> профессиональности
					a.service__title-button Пройти
			.col-lg-3.col-md-4.col-sm-6.service__content
				h3.service__title-top.service__title-allergy Аллергокабинет
			.col-lg-3.col-md-4.col-sm-6.service__content
				h3 Мрт оборудование
				p Новейшие наработки мира
			.col-lg-3.col-md-4.col-sm-6.service__content
				h3.service__title-top Массаж
			.col-lg-3.col-md-4.col-sm-6.service__content
				h3.service__title-top Анализы
			.col-lg-6.col-md-12.col-sm-12.service__content
				h3.service__title-bottom Тонкая работа с детьми
				a.button.button__blue(href="#") Читать



















