section.service
	.title
		.title__header.title--with-bottom-line: h2 Добро пожаловать на наш официальный сайт<br> мы заботимся о вас с 2042
		.title__text: p В ленте Фейсбука начало появляться предложение проверить<br> настройки безопасности и передачи данных сторонним приложениям
		a.service__button.button__blue(href="#") Читать

	.container
		.row
			.col-md-6.service__content-doctor
				.service__title
					h2 Первая консультация<br> бесплатна
					p Будьте уверены в нашей<br> профессиональности
					a.service__title-button Пройти
			.col-md-3.service__content-1
				h3.service__title-top.service__title-allergy Аллергокабинет
			.col-md-3.service__content-2
				h3 Мрт оборудование
				p Новейшие наработки мира
			.col-md-3.service__content-3
				h3.service__title-top Массаж
			.col-md-3.service__content-4
				h3.service__title-top Анализы
			.col-md-6.service__content-family
				h3.service__title-bottom Тонкая работа с детьми
				a.button.button__blue(href="#") Читать



















